torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
lightning==2.0.4
pydantic==1.10.21

pot==0.9.5

braindecode==0.8.1
docstring-inheritance==2.2.2
einops==0.8.1
skorch==1.1.0
tabulate==0.9.0
torchinfo==1.8.0

coverage==7.8.0
edfio==0.4.8
edflib-python==1.0.8
h5py==3.13.0
joblib==1.4.2
memory-profiler==0.61.0
mne-bids==0.16.0
moabb==1.2.0
pyriemann==0.7
scikit-learn==1.5.2
seaborn==0.12.2
threadpoolctl==3.6.0
urllib3==1.26.20

pandas==2.2.3
numpy==1.26.4